@model CountryCapitalVM
<h1>
    Index page
</h1>

<ol>

    @foreach (Country country in Model.Countries)
    {
        <li>
            <p>
                @country.Name => Capital: @country.Capital.Name
            </p>
            <p>
                @country.Population
            </p>
        </li>
    }
</ol>


@*<ol>

    @foreach (Capital capital in Model.Capitals)
    {
        <li>
            <p>
                @capital.Name
            </p>
            <p>
                @capital.Population
            </p>
        </li>
    }
</ol>*@